.board-legend {
  li {
    padding: .5rem 0 .5rem 30px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
    }
    &.basic::after {
      border: 1px solid #000;
      background: #FFF;
    }
    &.obstruction::after {
      border: 1px solid #000;
      background: #000;
    }
    &.start::after {
      background: #00FF00;
    }
    &.goal::after {
      background: #FF0000;
    }
    &.open::after {
      background: #75e8e8;
    }
    &.close::after {
      background: #135454;
    }
    &.path::after {
      background: #E7D83A;
    }
  }
}
